{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}My Web - Login{% endblock %}


{% block page_content %}
{{ wtf.quick_form(form) }}

{% for message in get_flashed_messages() %}
 <div class="alert alert-warning">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
     {{ message }}
 </div>
{% endfor %}

{% for message in form.username.errors %}
 <div class="alert alert-warning">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
     {{ message }}
 </div>
{% endfor %}
{% for message in form.password.errors %}
 <div class="alert alert-warning">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
     {{ message }}
 </div>
{% endfor %}

{% endblock %}